<!DOCTYPE  html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="定位为IT技术博客站，博客内容主要涉及编程语言、推荐算法、数据挖掘等方面，分享实用的学习和开发资料">
	<meta name="keywords" content="辰的博客">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>橙子博客</title>
	<meta name="renderer" content="webkit">
	<link rel="shortcut icon" type="image/png" href="http://120.133.136.23:8888/uploadImages/113/110/166/3/2023/02/10/17/17/542503d8-5e00-4fd8-899a-08d8b6752b85.png">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-title" content="程序员技术分享博客" />
	<meta name="msapplication-TileColor" content="#0e90d2">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link href="/layui/css/layui.css" rel="stylesheet">
	<link rel="stylesheet" href="https://ftp.stackoverflow.wiki/bolo/fontawesome-free-5.14.0-web/css/all.css">
	<link rel="stylesheet" href="/front/static/css/main.css">
	<link rel="stylesheet" href="/front/static/css/base.css">
	<script src="/layui/layui.js"></script>
<!--	<script src="/front/static/js/index.js"></script>-->
</head>


<body>
<div class="layui-layout layui-layout-admin" style="height: 60px">
	<div class="layui-header">
		<div class="layui-logo layui-hide-xs layui-bg-black layui-nav layui-nav-item">
                    <span class="pull-left" id="blog_name" style="margin-left: 10px">
                <a class="blog_title" id="site-name" href="/index" style="font-size: 18px">辰的个人博客 👋🏼</a>
            </span>
		</div>
		<!-- 头部区域（可配合layui 已有的水平导航） -->
		<ul class="layui-nav layui-layout-left">
			<!-- 移动端显示 -->
			<li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
				<i class="layui-icon layui-icon-spread-left"></i>
			</li>
			<li class="layui-nav-item layui-hide-xs">
				<a href="/index">
					<i class="fa-fw fa fa-home"></i>主页</a>
			</li>
		</ul>

		<ul class="layui-nav layui-layout-right">
<!--			<li class="layui-nav-item layui-hide layui-show-sm-inline-block ">-->
<!--				<div class="layui-input-wrap">-->
<!--					<label>-->
<!--						<input type="text" placeholder="搜索" class="layui-input">-->
<!--					</label>-->
<!--					<div class="layui-input-suffix">-->
<!--						<i class="layui-icon layui-icon-search"></i>-->
<!--					</div>-->
<!--				</div>-->
<!--			</li>-->

			<li class="layui-nav-item layui-hide layui-show-sm-inline-block ">
				<a>
					管理后台
				</a>
				<dl class="layui-nav-child">
					<dd><a href="/login">管理登录</a></dd>
				</dl>
			</li>
		</ul>
	</div>
</div>

<div id="web_bg" data-type="color"></div>

<div class="article__top" style="background-image: url(<!-- BLOG_COVER_IMAGE -->)">
	<div style="background-image: url(<!-- BLOG_COVER_IMAGE -->)"></div>
	<canvas id="articleTop" width="1345" height="476"></canvas>
</div>

<main class="layout_post" id="content-inner">
	<article id="post">
		<div class="article">
			<div class="ft__center">
				<div class="article__meta">
					<time>
						<!-- BLOG_CREATE_TIME -->  / <!-- BLOG_UPDATE_TIME -->
					</time>
					/ <!-- BLOG_TAG -->
<!--					<a rel="tag" href=""></a> &nbsp;		标签-->
<!--					<a rel="tag" href=""></a> &nbsp;-->
				</div>
				<h2 class="article__title">
					<!-- BLOG_TITLE -->
				</h2>
			</div>


			<div class="wrapper">
			<section id="article-container">
			<!-- BLOG_CONTENT -->
			</section>
			</div>
		</div>
	</article>
</main>



</body>

</html>